footer {
  background-color: #343a40;
  color: white;
  margin-top:50px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer container {
	padding-top: 20px;
}
 
header {
	margin-bottom:50px;
}

.info {
	margin-bottom:50px;	
}

.userinfo {
	margin-bottom:40px;
}
