/*Sticky Footer*/
html {
    position: relative;
    min-height: 100%;
    font-family: 'Lora', serif; 
}
body {
    margin-bottom: 60px;
    background-color : #f8f8ff;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    line-height: 60px;
    background-color: #343a40;
	color: white;
}

/*Section*/
.section{
	padding-bottom :20px;
}

/*Footer*/
footer .container {
	text-align: center;
}

.foicte{
	padding-left : 15px;
	padding-rigth : 15px;
}

/*NavBar*/
header {
	margin-bottom:20px;
}

.logo {
	color:white !important;
}

/*updateUserPage button*/
.btnStyle {
	margin-top : 5px;
}

/*ListBook Page*/
.img-list {
	max-width: 75% !important;
    padding: 10px;
}

.booksearch {
	margin-bottom : 20px;
}

.bookinfo {
	margin-top : 15px;
}

/*Book Page*/
.img-book {
	max-width: 15% !important;
	padding:10px;
}

.alignimg {
	text-align : center;
	margin-bottom : 20px;
}

.titlebook {
	font-weight : bold;
	text-decoration : underline;
}

/*All card */
.card{
	padding-right : 0px !important;
	padding-left : 0px !important;
}

.card-header {
	background-color: #a6dced !important;
}

.no-gutters{
	background-color: #f0f8ff !important;
}

.list-group {
	margin-bottom : 10px;
}

.info {
	margin-bottom:50px;	
}

/*HomePage*/
.hometext{
	font-family: 'Lobster', cursive !important;
}

/*InfoPage*/
.imginfo{
	max-width : 50%;
}

.imgbibl{
	text-align : center;
}

.infocont {
	padding-bottom: 20px;
}

/*Mobile*/
@media only screen and (max-width: 640px) {
	.infoperso {
		margin-bottom: 20px;
	}
	.img-list {
		margin-top : 20px
	}
	.img-book {
		max-width : 50% important;
		padding:10px;
	}	
}

