<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout.html}">
	<head>
		<meta charset="UTF-8">
		<title>Accueil Bibliothèque</title>
	</head>
	<body>
		<section layout:fragment="content">	
			<div class="container"> 
				<div class="text-center">
					<img th:src="@{/images/livre-illustration.jpg}"/>
				</div>
				<hr>
				<h3 class="text-center">Bienvenue sur le site de la bibliothèque de la ville de .</h3>
			</div>
		</section>
	</body>
</html>